@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,400;1,700&display=swap');


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --font-size: 1.01rem;
  --ratio: 1.125;
  --line-height: 1.5;
  --font-xs: calc(var(--font-size) / var(--ratio));
  --font-s: calc(var(--ratio) * var(--font-size));
  --font-m: calc(var(--ratio) * var(--font-s));
  --font-l: calc(var(--ratio) * var(--font-m));
  --font-xl: calc(var(--ratio) * var(--font-l));
  --font-xxl: calc(var(--ratio) * var(--font-xl));
  --font-3xl: calc(var(--ratio) * var(--font-xxl));
  --font-4xl: calc(var(--ratio) * var(--font-3xl));
  --radiusBoton: 30px;
  --radiusBox: 0px;
  --radiusImg: 0px;
  --radius1: var(--radiusBoton);
  --radius2: var(--radiusBox);
  --padding-h: 1.125rem;
  --padding-v: 2.5rem;
  --logo-width: 60px;
  --cabecera-width: 150px;
  --color-primario: #00ff7f;
  --blanco: #fff;
  --negro: #000;
  --bold1: 600;
  --bold2: 700;
  --font1: "Open Sans";
  --font2: "Poppins";
}

@media screen and (min-width: 600px) {
  :root {
    --logo-width: 80px;
    --ratio: 1.15;
    --padding-h: 1.5rem;
    --padding-v: 2.5rem;
  }
}

@media screen and (min-width: 821px) {
  :root {
    --logo-width: 90px;
    --ratio: 1.175;
    --padding-h: 2rem;
    --padding-v: 5rem;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --logo-width: 100px;
    --ratio: 1.2;
    --padding-h: 2.5rem;
    --padding-v: 6rem;
  }
}

html {
  font-family: var(--font1);
  color: var(--font-color);
  font-weight: 400;
  width: 100vw;
  font-size: var(--font-size);
  line-height: var(--line-height);
}
body {
  min-width: 300px;
  overflow-x: hidden;
  position: relative;
}
.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 0.2em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
p {
  margin: 0 0 10px;
}
.portada--img {
  width: 100vw;
  height: 75vh;
  min-height: 360px;
  position: relative;

  top: 0;
}

.portada--img .titulo:not(p) {
  text-align: center;
  text-shadow: 3px 3px black;
}
.font--center {
  text-align: center;
}
.portada--img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: 50% 0%;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.section {
  padding: var(--padding-v) var(--padding-h);
}

.section.section--nogap {
  padding: 0 var(--padding-h) var(--padding-v) var(--padding-h);
}


/* TITULOS */

.titulo {
  line-height: 1.25em;
  margin: 0 0 0.5em;
  z-index: 1;
  font-weight: var(--bold2);
}

.titulo--1 {
  font-family: var(--font2);
  font-size: var(--font-xxl);
  color: var(--color-primario);
}
.titulo--2 {
  font-family: var(--font2);
  font-size: var(--font-xl);

  color: var(--color-primario);
}
.titulo--3 {
  font-family: var(--font2);
  font-size: var(--font-l);
  color: var(--color-primario);
}
.titulo--4 {
  font-size: var(--font-m);
  font-family: var(--font1);
  font-weight: var(--bold1);
  color: var(--color-primario);
}

/* MODIFICADORES */
.font--primario {
  color: var(--color-primario);
}

.font--blanco {
  color: var(--blanco);
}

.font--negro {
  color: var(--negro);
}


/* botones */

.boton {
  font-family: var(--font1);
  text-align: right;
  box-sizing: border-box;
  position: relative;
  padding: 0.6em 1.25em;
  border-radius: var(--radiusBoton);
  margin: 2px;
  vertical-align: middle;
  opacity: 1;
  cursor: pointer;
  overflow: hidden;
  font-size: 0.95rem;
  text-transform: uppercase;
  background: var(--blanco);
  color: var(--color-primario);
  text-decoration: none;
  display: inline-block;
  font-weight: var(--bold1);
  transition: color 300ms ease;
  margin-left: 0.25rem;
}
.boton:hover::before,
.boton:active::before,
.boton:focus::before{
    transform:translate(-50%, -50%) scale(2.5);
}

.boton > * {
  position: relative;
    z-index: 1;
}

.boton::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  aspect-ratio:1;
  background: rgba(255,255,255,0.10);
  transform: translate(-50%, -50%) scale(0);
  border-radius:100%;
  transition: transform 0.3s ease-out;
}
/* FOOTER */
.footer {
  background-color: var(--negro);
  padding: 30px 20px;
  color: var(--blanco);
  text-align: center;
  position: relative;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-section {
  margin-bottom: 20px;
  flex: 1 1 200px;
  padding: 0 20px;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--blanco);
}

.footer-section p {
  margin-bottom: 5px;
  color: var(--blanco);
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin: 0 10px;
}

.social-links a {
  color: var(--blanco);
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: var(--color-primario);
}

.footer-section:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 1px;
  background-color: #555;
}

.footer-legal {
  background-color: #222;
  padding: 10px 0;
  font-size: 0.8rem;
}

.footer-legal p {
  margin: 0;
  color: #ccc;
}

.footer-legal a {
  color: var(--color-primario);
  text-decoration: none;
  margin: 0 5px;
  transition: color 0.3s ease;
}

.footer-legal a:hover {
  color: var(--blanco);
}


/** SLIDER **/
.portada--img {
  width: 100vw;
  height: 75vh;
  min-height: 360px;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.cuadros-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cuadro {
  background-color: var(--blanco);
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 1;
  width: 300px;
  color: black;
  height: 200px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

@media only screen and (max-height: 775px) {
  .cuadros-container .cuadro:last-child {
    display: none;
  }
}
/*CONTACTO*/
.contacto {
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.contacto h2 {
  color: var(--color-primario);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.contacto p {
  margin-bottom: 8px;
  color: var(--negro);
}

.contacto p i {
  margin-right: 8px;
}

.contacto p .strong {
  font-weight: bold;
}

.font--primario {
  color: var(--color-primario);
}

@media (max-width: 1024px) {
  .portada--img {
    height: 100vh;
  }


  .header {
    padding: 1rem;
  }
  .cuadros-container {
    flex-direction: column;
    align-items: center;
  }

}
